<font size="-1">
	<p>
		<b><i>Depth:</i></b> Some CalDAV server are working with a calendar structur "depth 0", others with "depth 1". Select here the variant that matches your server.
	</p>
	<p>
		<b><i>URL of the calendar:</i></b> Is the URL to the calendar. Most of the CalDAV servers are showing this link in the informations of the calendar.
	</p>
	<p>
		<b><i>calendar user:</i></b> Is the name of the user which is necessary for CalDAV server login.
	</p>
	<p>
		<b><i>password of the calendar user:</i></b> Is the password of the calendar user.
	</p>
	<p>
		<b><i>days in future:</i></b> Sets how many days the appointment is passed before its activation. (Default 0).
	</p>
	<p>
		<b><i>minutes before and after:</i></b> Sets how many days the appointment is passed before its activation. Example: An appointment should turn on a light in a certain period of time. After this period, this lamp is intended to be e.g. still dimmed for 10 minutes. If the date was not displayed after the end, this information could not be processed in the Miniserver. (default 60)
	</p>
	<p>
		<b><i>Google cache duration:</i></b> Sets how many minutes the Google calendar query is cached on the Loxberry before the calendar is retrieved from Google again.
	</p>
	<p>
		<b><i>search terms:</i></b> Sets the terms to look for in the appointment titles. Word parts are also possible. Each search term must be in a single line.
	</p>
	<p>
		<b><i>test the data:</i></b> Once all necessary information has been given, the URL is displayed as it is to be entered in the virtual HTTP input in the Miniserver. On the other hand, the calendar is tested with the inputs and the output is output in the source text. Also, some command recognitions are listed, which can be used in the config.
	</p>
</font>
