<font size="-1">
	<p>
		<b><i>Depth:</i></b> Einige CalDAV-Server arbeiten mit der Kalenderstruktur "Depth 0", andere mit "Depth 1". Wähle hier die Variante aus, die für Deinen Server passt.
	</p>
	<p>
		<b><i>Link zum Kalender:</i></b> Ist die URL zum entsprechenden Kalender. Die meisten CalDAV-Server zeigen den Link in den Eigenschaften des Kalenders an.
	</p>
	<p>
		<b><i>Kalender-User:</i></b> Ist der Username, der zum Einloggen am CalDAV-Server nötig ist.
	</p>
	<p>
		<b><i>Passwort des Kalender-Users:</i></b> Ist das Passwort des Users am CalDAV-Server.
	</p>
	<p>
		<b><i>Tage in der Zukunft:</i></b> Legt fest wie viele Tage der Termin vor seiner Aktivierung übergeben wird. (Standard 0)
	</p>
	<p>
		<b><i>Minuten vor und nach:</i></b> Legt fest wie viele Minuten der Termin im Voraus und danach übergeben wird. Beispiel: Ein Termin soll in einem bestimmten Zeitraum ein Licht anschalten. Nach diesem Zeitraum soll diese Lampe z.B. noch 10 Minuten gedimmt weiter leuchten. Würde der Termin nach seinem Ende nicht mehr angezeigt, könnte diese Information im Miniserver nicht mehr verarbeitet werden. (Standard 60)
	</p>
	<p>
		<b><i>Google Cachedauer:</i></b> Legt fest wie viele Minuten die Google Kalenderabfrage auf dem Loxberry zwischengespeichert wird bevor der Kalender erneut von Google abgerufen wird.
	</p>
	<p>
		<b><i>Suchbegriffe:</i></b> Legt die Befriffe fest nach denen in den Termintiteln gesucht werden soll. Es sind auch Wortteile möglich. Jeder Suchbegriff muss in einer einzelnen Zeile stehen.
	</p>
	<p>
		<b><i>Angaben testen:</i></b> Sind alle nötigen Angaben erfolgt, wird zum Einen die URL angezeigt, wie sie im Miniserver im virtuellen HTTP-Eingang einzugeben ist. Zum Anderen wird der Kalender mit den Eingaben getestet und die Ausgabe im Quelltext ausgegeben. Ebenfalls werden einige Befehlserkennungen aufgelistet, die man in der Config so verwenden kann.
	</p>
</font>
