<script>
function setDepth(selobject)
{
    if (window.XMLHttpRequest)
    {
        // AJAX nutzen mit IE7+, Chrome, Firefox, Safari, Opera
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // AJAX mit IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            // document.getElementById("labeldepth").innerHTML="Depth (gespeichert):";
        } else {
        	  document.getElementById("labeldepth").innerHTML="Depth <span style=\"color: #ff0000;\":";
        }
    }
    document.getElementById("labeldepth").innerHTML="Depth:";
    newdepth = selobject.options[selobject.selectedIndex].value;
    xmlhttp.open("GET","/admin/plugins/<TMPL_VAR psubfolder>/setDepth.cgi?depth=" + newdepth,true);
    xmlhttp.send();
}
</script>

<div role=\"main\" class=\"ui-content\">
<div class=\"ui-body ui-body-a ui-corner-all loxberry-logo\">
<div style=\"margin: 5%;\">

<h2><TMPL_VAR HEADER.SETTINGS></h2>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
											<div class="form-group">
												<table class="formtable" border="0" width="100%">
													<tr>
														<td width="25%">
															<label id="labeldepth">Depth:</label>
														</td>
														<td>
																<select id="depth" name="depth" data-mini="true" onchange="setDepth(this);">
																	<option <TMPL_VAR selecteddepth0> value="0">0</option>
																	<option <TMPL_VAR selecteddepth1> value="1">1</option>
																</select>
														</td>
														<td width="65%">&nbsp;</td>
													</tr>
											</table>
										</div>
									</form>
<h2><TMPL_VAR HEADER.CONFIGHINTS></h2>
<p><TMPL_VAR LABEL.HINTINTRO></p>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
										<input type="hidden" id="lang" name="lang" value="<TMPL_VAR lang>">
											<div class="form-group">
												<table class="formtable" border="0" width="100%">
													<tr>
														<td width="25%">
															<label id="labelcaldavurl"><TMPL_VAR LABEL.LINKFORCAL></label>
														</td>
														<td width="50%" colspan="2">
															<input id="caldavurl" name="caldavurl" type="text" class="textfield" data-validation="url"
																value="<TMPL_VAR caldavurl>" data-validation-error-msg="* <TMPL_VAR ERROR.WRONGCALURL>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelcaldavuser"><TMPL_VAR LABEL.CALUSER></label>
														</td>
														<td width="50%" colspan="2">
															<input id="caldavuser" name="caldavuser" type="text" class="textfield"
																value="<TMPL_VAR caldavuser>" data-validation-error-msg="* <TMPL_VAR ERROR.MISSINGUSER>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelcaldavpass"><TMPL_VAR LABEL.CALPASS></label>
														</td>
														<td width="50%" colspan="2">
															<input id="caldavpass" name="caldavpass" type="text" class="textfield"
																value="<TMPL_VAR caldavpass>" data-validation-error-msg="* <TMPL_VAR ERROR.MISSINGPASS>">
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelfwdays"><TMPL_VAR LABEL.DAYSINFUTURE></label>
														</td>
														<td width="10%">
															<input id="fwdays" name="fwdays" type="text" class="textfield" data-validation="number" data-validation-optional="true" data-validation-allowing="range[0;364]"
																value="<TMPL_VAR fwdays>" data-validation-error-msg="* <TMPL_VAR ERROR.DAYSINFUTURE>" width="10%">
														</td>
														<td width="40%" valign="middle">
															&nbsp;
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labeldelay"><TMPL_VAR LABEL.MINUTESBEFOREANDAFTER></label>
														</td>
														<td width="10%">
															<input id="delay" name="delay" type="text" class="textfield" data-validation="number" data-validation-optional="true" data-validation-allowing="range[0;1440]"
																value="<TMPL_VAR delay>" data-validation-error-msg="* <TMPL_VAR ERROR.MINUTESBEFOREANDAFTER>" width="10%">
														</td>
														<td width="40%" valign="middle">
															&nbsp;
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labeldelay"><TMPL_VAR LABEL.GOOGLECACHE></label>
														</td>
														<td width="10%">
															<input id="cache" name="cache" type="text" class="textfield" data-validation="number" data-validation-optional="true" data-validation-allowing="range[0;1440]"
																value="<TMPL_VAR cache>" data-validation-error-msg="* <TMPL_VAR ERROR.GOOGLECACHE>" width="10%">
														</td>
														<td width="40%" valign="middle">
															&nbsp;
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelevents"><TMPL_VAR LABEL.SEARCHTERMS></label>
														</td>
														<td width="50%" colspan="2">
															<textarea id="events" name="events" class="textfield"><TMPL_VAR events></textarea>
														</td>
														<td width="25%">
															&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">&nbsp</td>
														<td width="50%" colspan="2">
															<input id="dotest" name="dotest" type="submit" value="<TMPL_VAR LABEL.DOTEST>">
														</td>		
														<td width="25%">
															&nbsp
														</td>
													</tr>	
													<tr>
														<td></td>
														<td colspan=3>
														<div id="form-error-message" class="form-error-message"></div>
													</td>
												</tr>
											</table>
										</div>
									</form>
<script>
		var $messages = $('#form-error-message');
		$.validate({
			modules : 'security',
			errorMessagePosition : $messages,
		});
</script>
</div>
</div>
</div>
